#navbar {
  background-color: rgb(241, 241, 241);
}

#navbar a {
  color: #000000;
  font-family: "Montserrat", helvetica, arial, sans-serif;
}

.content {
  padding: 16px;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
  top: 0;
  z-index: 5;
  padding-bottom: 1px;
}
  
.nav-item {
  font-size: 120%;
  padding: 0 5px;
  padding-right: 10px;
}

#navbar ul {
  list-style: none;
  text-align: center;
}

#navbar ul li {
  display: inline-block;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #000000;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.media {
  padding-left: 10px;
}

header {
  margin: 0px;
  padding-top: 0px;
}

.main {
  background-image: url(images/IMG_1423.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 650px;
  padding-bottom: 100px;
}

.site_title {
  position: relative;
  top: 25%;
  z-index: 2;
  font-family: 'Roboto' sans-serif;
  color:rgb(255, 255, 255);
  text-align:center;
  margin: 0 auto;
}

.site_title h1{
  padding-top:10px;
  font-size: 5em;
  line-height:90%;
  font-family: "Montserrat", helvetica, arial, sans-serif;
}

.site_title h2{
  color:rgb(255, 255, 255);
  font-family: "Montserrat", helvetica, arial, sans-serif;
}

.site_title h6{
  line-height:150%;
  color:rgb(150, 150, 150);
  font-family: "Montserrat", helvetica, arial, sans-serif;
}

.overlay {
  background: rgba(0, 0, 0, 0.589);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#about {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  padding-bottom: 80px;
  padding-top: 80px;
}

#about h1 {
  font-size: 50px;
  font-weight:bold;
}

#about h4 {
  color: rgb(73, 73, 73);
  margin-top: 100px;
  display: inline;
  line-height: 150%;
}

#about a {
  font-size: 150%;
}

#about h5 {
  color: rgb(73, 73, 73);
  font-size: 150%;
  margin-top: 20px;
  line-height: 150%;
}

#projects {
  background-color: rgb(17, 17, 17);
  padding-top: 90px;
  padding-bottom: 90px;
}

#projects h1{
  margin-right: auto;
  margin-left: auto;
  font-size: 60px;
}

.card-body small{
  margin-top: 1100px;
  font-size:8px;
}

.card-group {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.card {
  margin: 3em;
}

.social {
  font-size: 25px;
}

li:hover .fa-github {
  color: #ffffff;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

li:hover .fa-linkedin {
  color: #ffffff;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

#formFooter {
  background-color: #f0f0f0;
  width: 120%;
  margin: auto;
  text-align: center;
}

.list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.list-inline > li:before {
	content: "\200B"; /* 1 */
	position: absolute; /* 2 */
}